.container {
   padding: 0 20px;
   height: 100%;
}

.container::after {
   content: "";
   display: block;
   clear: both;
}

.categoryNameBox {
   display: flex;
   align-items: flex-end;
   margin: 50px 0 20px;
}

.firstCategory {
   font-size: 24px;
   font-weight: bold;
}

.arrow {
   margin: 0 5px;
}

.secondCategory {
   display: flex;
   align-items: center;
}