.navBar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   bottom: 0;
   z-index: 999;
   width: 100%;
   height: 100px;
   padding: 0 20px;
   background-color: #ffffff;
   box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);

   font-size: 40px;
}

.navBar button {
   color: #d9d9d9;
}

.navBar button:hover {
   color: var(--maincolor)
}