:root {
  --maincolor: #16a114;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 430px;
  position: relative;
  color: #333333;
  height: 800px;
  overflow-x: hidden;
  /* border: 1px solid #333333 */
}

.blind {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
